<div class="container">
  <h3 class="p-3 text-center justify-content-center">{{testo.title}}</h3>
  {{testo.text}}
  <h6 class="p-2 text-right">{{testo.origin}} - {{#if testo.acc}}Accademico{{else}}Non accademico{{/if}}</h6>
</div>
